<section class="main main-text-wrapper">
  <div class="main__wrapper-purple padding-left padding-right">
    <h1 class="main__wrapper-purple__text">New Residence</a>
    </h1>
  </div>
  <div class="main__wrapper main__negative-top-margin">
    <div class="padding-left padding-right padding-top padding-bottom">
      <form action="/dashboard/residences/new" method="POST">
        <div class="field">
          <label class="label" for="name">Name</label>
          <div class="input-wrapper">
            <input id="name" name="name" type="text" class="input" required spellcheck="false" autocomplete="off"
              placeholder="Garry J. Armstrong Home">
          </div>
        </div>
        <div class="field">
          <label class="label" for="address">Address</label>
          <div class="input-wrapper">
            <input id="address" name="address" type="text" class="input" required spellcheck="false" autocomplete="off"
              placeholder="200 Island Lodge Road, Ottawa, Ontario, K1N 5M2, Canada">
          </div>
        </div>
        <div class="field">
          <label class="label" for="latitude">Latitude</label>
          <div class="input-wrapper">
            <input id="latitude" name="latitude" type="number" step="any" class="input" required spellcheck="false"
              autocomplete="off" placeholder="45.437096">
          </div>
        </div>
        <div class="field">
          <label class="label" for="longitude">Longitude</label>
          <div class="input-wrapper">
            <input id="longitude" name="longitude" type="number" step="any" class="input" required spellcheck="false"
              autocomplete="off" placeholder="-75.682163">
          </div>
        </div>
        <div class="field">
          <label class="label" for="status">Status</label>
          <div class="input-wrapper">
            <input id="status" name="status" type="text" class="input" required spellcheck="false" autocomplete="false"
              value="pending">
            <p class="help">confirmed, pending</p>
          </div>
        </div>
        <div class="field">
          <label for="address_num" class="label">Street Number</label>
          <div class="input-wrapper">
            <input id="address_num" name="address_num" type="number" class="input" required spellcheck="false"
              autocomplete="false" placeholder="200">
          </div>
        </div>
        <div class="field">
          <label for="address_street" class="label">Street</label>
          <div class="input-wrapper">
            <input id="address_street" name="address_street" type="text" class="input" required spellcheck="false"
              autocomplete="false" placeholder="Island Lodge Road">
          </div>
        </div>
        <div class="field">
          <label for="address_city" class="label">City</label>
          <div class="input-wrapper">
            <input id="address_city" name="address_city" type="text" class="input" required spellcheck="false"
              autocomplete="false" placeholder="Ottawa">
          </div>
        </div>
        <div class="field">
          <label for="address_state" class="label">Province/State</label>
          <div class="input-wrapper">
            <input id="address_state" name="address_state" type="text" class="input" required placeholder="Ontario">
          </div>
        </div>
        <div class="field">
          <label for="postal_code" class="label">Postal Code/Zip code</label>
          <div class="input-wrapper">
            <input id="postal_code" name="postal_code" type="text" class="input" required placeholder="K1N 5M2">
          </div>
        </div>
        <div class="field">
          <label for="address_country" class="label">Country</label>
          <div class="input-wrapper">
            <input id="address_country" name="address_country" type="text" class="input" required placeholder="Canada">
          </div>
        </div>
        <button class="button is-primary full-width" type="submit">Save <i class="fa fa-save"
            aria-hidden="true"></i></button>
      </form>
    </div>
  </div>
</section>