<section class="main main-text-wrapper">
  <div class="main__wrapper-purple padding-left padding-right">
    <h1 class="main__wrapper-purple__text"><i class="fa fa-plus" aria-hidden="true"></i> Suggest New Residence</h1>
  </div>
  <div class="main__wrapper main__negative-top-margin">
    <div class="padding-left padding-right padding-top padding-bottom">
      <p style="text-align:center;">Thank you for your contribution. I will review it as soon as possible.</p>
      <p style="text-align:center;font-weight:100;">Go back <a href="/?ref=suggest-new"
          class="main__wrapper__link">home</a>.
      </p>
    </div>
  </div>
</section>