<section class="main main-text-wrapper">
  <div class="main__wrapper-purple padding-left padding-right">
    <h1 class="main__mission-statement__text">Changing the conversation when it comes to elderly care.</h1>
  </div>
  <div class="main__wrapper main__negative-top-margin">
    <div class="padding-left padding-right ">
      <h2>About Us</h2>
      <p>
        We want to open clear lines of communication, as well as support, transparency and accountability as it pertains
        to elder care. We aim to apply a community-driven approach to rating, ranking, and reviewing residences aimed at
        elderly people. Including retirement residences, assisted living spaces, all the way to end of life care, we
        hope to facilitate a more meaningful and impactful conversation between owners, staff, residents, and future
        residents. We care about care. Our goal is to support the development and enhancement of quality care for our
        senior citizens.
      </p>
      <p>
        Additionally, we pledge to <u>always</u> give a damn.
      </p>
      <h3>Problem</h3>
      <p>
        Currently, when seeking out independent living communities, assisted living facilities, nursing homes, elderly
        care homes, or continued care communities, the quality of care one will receive is presented only by the people
        selling the space. There is no one place where transparent, and user-based feedback is visible and easily
        accessible. There is not a space which provides, both, positive and problematic feedback as experienced by
        actual people. There is not a space where the quality of care is rated or ranked with clearity for future
        residents. We want to be that neutral space. A space where care residences are held accountable for their
        actions. Actions that are not only positive but, also, negative.
      </p>
      <h3>Solution</h3>
      <p>
        We aim to maintain an up-to-date solution which provides a listing of retirement residences in your desired
        area. We will maintain a list of links to online articles and news resources that are pertinent to a specific
        residence (<a class="main__wrapper__link"
          href="/residences/garry-j-armstrong-home-ontario-reviews?ref=about-text">Example</a>). This will allow you to
        see the positive and negative mentions of a residence in the media.</p>
      <p>
        Moreover, we aim to personally moderate the community review section. We want to provide a public space for
        people to discuss the pros and cons of a specific retirement residence. We expect your reviews to maintain a
        civil conversation as outlined in our <a class="main__wrapper__link" href="/tos?ref=about-text">terms of
          service</a> and <a class="main__wrapper__link" href="/privacy?ref=about-text">privacy policy</a>. A few things
        we will not tolerate: personal attacks, obscene, vulgar, or profane language, commercial promotion and
        impersonations.
      </p>
      <p>
        Finally, we want to be people driven.
      </p>
    </div>
  </div>
  <div class="main__wrapper">
    <div class="padding-right padding-left">
      <h2>Long Term Goals</h2>
      <ul>
        <li>Maintain up-to-date information regarding retirement residences (including but not limited to: address,
          contact information, space availability)</li>
        <li>Maintain an available archive of online mentions or discussions related to any retirement residence
          (including both positive and negative feedback, articles, news, or other media)</li>
        <li>Provide a platform for elderly residents and their families to compose transparent, honest, and
          experience-based reviews of their residences</li>
        <li>Provide the staff, or company opportunities to transparently respond to negative commentary</li>
        <li>Moderate the commentary without censorship (as outlined in our <a class="main__wrapper__link"
            href="/tos?ref=about-text">terms of service</a> and <a class="main__wrapper__link"
            href="/privacy?ref=about-text">privacy policy</a>)</li>
        <li>Always maintain transparency</li>
        <li>Always listen to the community</li>
        <li>Always be available and at the service of users</li>
      </ul>
    </div>
  </div>
  <div class="main__wrapper">
    <div class="padding-left padding-right">
      <h2>Giving a damn</h2>
      <p>
        Treat others as you would want to be treated. This mantra is at the forefront of our beliefs. We pledge to use
        technology for good over evil. We want to be there for not just our users, but also for the greater public as a
        whole. We all age. We all hope to receive quality care when we are at our most vulnerable.
      </p>
      <p>
        At Elderoost, we want to provide a platform and a community that enables you to find the most compassionate,
        quality assisted living spaces for yourself or your loved ones.
      </p>
      <p>
        We want to create the best product we can, treat everyone as we want to be treated, experiment, research,
        continue improving and never forget to put people first.
      </p>
      <p>
        Business is very important for us. We do not spend more than we earn, we do not waste money on things that do
        not help us improve our business, we are not going to give everything for free and we hope to figure it out
        before running out of cash.
      </p>
    </div>
  </div>
  <div class="main__wrapper">
    <div class="padding-left padding-right">
      <h2>Availability</h2>
      <p>
        We want to be always available for you. We are Real people, not an automated reply or an automated service. You
        can always send us an email at <a class="main__wrapper__link"
          href="mailto:elderoost@gmail.com">elderoost@gmail.com</a> and we will get back to you as soon as possible.
      </p>
      <p>
        You can also follow us on <a class="main__wrapper__link" href="https://twitter.com/elderoost" rel="nofollow"
          target="_blank">Twitter at @Elderoost</a> and <a class="main__wrapper__link"
          href="https://www.instagram.com/elderoost/" rel="nofollow" target="_blank">Instagram</a> to keep up with our
        updates, or to tweet at us.
      </p>
      <p>
        You can reach out to us directly: Alex
        Kluew, our CTO and co-founder, at <a class="main__wrapper__link" href="https://twitter.com/alexkluew_dev"
          rel="nofollow" target="_blank">@alexkluew_dev</a> on Twitter.
      </p>
    </div>
  </div>
  <div class="main__wrapper">
    <div class="padding-left padding-right">
      <h2>Thank you</h2>
      <p>
        Thank you for your time. We really appreciate that you've come this far. If you're just browsing, we hope that
        you will enjoy your stay here. If you would like to help out, you can support Elderoost's development by
        creating an account and using the app. Either way, please enjoy your stay at Elderoost =)
      </p>
    </div>
  </div>
</section>