<section class="main main-text-wrapper">
  <div class="main__wrapper-purple padding-left padding-right">
    <h1 class="main__wrapper-purple__text">Privacy Policy</h1>
  </div>
  <div class="main__wrapper main__negative-top-margin">
    <div class="padding-left padding-right">
      <h2>Introduction</h2>
      <p>Your privacy is important to us.</p>
      <p>At Elderoost, it is our policy to respect your privacy regarding any information we may collect while operating
        our website.</p>
      <p>Accordingly, we have developed this privacy policy to make it clear how we collect, use, communicate, disclose
        and otherwise make use of personal information.</p>
      <p>We have outlined our privacy policy below.</p>
      <ul>
        <li>We will protect personal information by using reasonable security safeguards against loss or theft, as well
          as unauthorized access, disclosure, copying, use or modification.</li>
        <li>We will make readily available to customers information about our policies and practices relating to the
          management of personal information.</li>
        <li>We will only retain personal information for as long as necessary for the fulfilment of those purposes.</li>
      </ul>

      <h2>Information from website visitors and support users</h2>

      <h3>What information do we collect and why?</h3>

      <ul>
        <li>When you visit our web site, we collect: information about your device, including your IP address (or your
          proxy server) which could be used to infer your device's location, the type of operating system and browser
          you use; what pages you visit on our site and what links you click on; the website that referred you; and the
          date and time of each request you make. We will use this information to learn about your browser and operating
          system to better our service. Moreover, we use part or all of this information for research, to fight spam,
          and other kinds of abuse; and to provide better mobile service and other applications.</li>
        <li>From written reviews, we collect your display name, name, email address, customer satisfaction info, and
          opinions about products and services. This information, excluding your name and your email address, is then
          used to display the aforementioned information to the public.</li>
        <li>With your permission, we may send you emails about our product, new features and other updates.</li>
      </ul>

      <h2>Information from reviewers</h2>

      <p>Any information you post publicly on the Elderoost, including customer satisfaction info, and opinions about
        products and services, is public. We are not responsible for the personal information you choose to submit
        through the course of your public activities and we have no responsibility to publish, take down, remove or edit
        any of your public activities or submissions. Please think carefully about your desired level of anonymity
        before you disclose personal information.</p>

      <h2>How Do We Protect Your Data?</h2>

      <ul>
        <li>We use Security Sockets Layer (SSL) encryption by default.</li>
        <li>We do not sell or give information about our users to any third parties.</li>
        <li>We do not use third party sources for analytics, tracking, storage or processing of the gathered
          information.</li>
        <li>Elderoost operates our computers principally in Canada; however we may store information in locations
          outside our immediate control (such as at a hosting provider).</li>
        <li>We follow industry standards on information security management to safeguard sensitive information.</li>
        <li>We strive to protect your information from unauthorized access, use, or disclosure. We use a variety of
          physical and technical measures, policies, and procedures designed to protect our systems and your personal
          information. </li>
        <li>Unfortunately, there's no such thing as completely secure data transmission or storage, so we can't
          guarantee that our security will not be breached (by technical measures or through violation of our policies
          and procedures).</li>
      </ul>

      <h2>Sharing content</h2>

      <p>When you share or recommend links to content on a third-party platform (such as Facebook, Google+ and Twitter),
        that action and any information you share will be covered by their privacy policy.</p>

      <h2>How do you get my consent?</h2>

      <ul>
        <li>When you provide us with personal information, we imply that you consent to our collecting it and using it
          for that specific reason only.</li>
        <li>If we ask for your personal information for a secondary reason, like marketing, we will either ask you
          directly for your expressed consent, or provide you with an opportunity to say no.</li>
        <li>You acknowledge and agree that by accessing our Web sites or using our services you fully understand, accept
          and voluntarily consent to the collection, use, retention and disclosure of personal information in accordance
          with this Privacy Policy.</li>
      </ul>

      <h2>How do I withdraw my consent?</h2>

      <p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the
        continued collection, use or disclosure of your information, at anytime, by contacting us at <a
          class="main__wrapper__link" href="mailto:elderoost@gmail.com">elderoost@gmail.com</a></p>

      <h2>What do we do with your Personal Information when you terminate your relationship with us?</h2>

      <p>We will continue to store anonymous or anonymized information, such as website visits, without identifiers, in
        order to improve our Services.</p>

      <h2>Disclosure</h2>

      <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of
        Service.</p>

      <h2>Age of Consent</h2>

      <p>By using this site, you confirm that you are at least the age of majority in your state or province of
        residence, or if you are under the age of majority, that you have monitored and express permission to post a
        review by a parent or guardian who is the age of majority in your province or state.</p>

      <h2>Changes to this Privacy Policy</h2>

      <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and
        clarifications will take effect immediately upon their posting on the website. If we make material changes to
        this policy, we will notify you here that it has been updated, so that you are aware of what information we
        collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>

      <p>We are committed to conducting our business in accordance with these principles in order to ensure that the
        confidentiality of personal information is protected and maintained. Elderoost may change this privacy policy
        from time to time at Elderoost sole discretion.</p>
    </div>
  </div>
</section>