<section class="main main-text-wrapper">
  <div class="main__wrapper-purple padding-left padding-right">
    <h1 class="main__wrapper-purple__text"><i class="fa fa-search" aria-hidden="true"></i> Reset password</h1>
  </div>
  <div class="main__wrapper main__negative-top-margin">
    <div class="padding-left padding-right padding-top padding-bottom">
      <form action="/users/forgot/t/{{token}}" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="field">
          <label class="label" for="email">Email</label>
          <div class="input-wrapper">
            <input id="email" name="email" type="email" class="input" required spellcheck="false" autocomplete="off">
          </div>
        </div>
        <div class="field">
          <label class="label" for="password">New Password</label>
          <div class="input-wrapper">
            <input id="password" name="password" type="password" class="input" required spellcheck="false"
              autocomplete="off">
            <p class="help">Enter your new password.</p>
          </div>
        </div>
        <button class="button is-primary full-width" type="submit">Set new password</button>
      </form>
    </div>
  </div>
</section>