<section class="main main-text-wrapper">
  <div class="main__wrapper-purple padding-left padding-right">
    <h1 class="main__wrapper-purple__text"><i class="fa fa-redo" aria-hidden="true"></i> Reset password</h1>
  </div>
  <div class="main__wrapper main__negative-top-margin">
    <div class="padding-left padding-right padding-top padding-bottom">
      <p style="text-align:center;">If the email exists, we will reset your password and send an email with instructions
        for creating a new
        password.</p>
      <p style="text-align:center;font-weight:100;">Go back <a href="/?ref=forgot" class="main__wrapper__link">home</a>.
      </p>
    </div>
  </div>
</section>